/* General container to center the content */
/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  padding: 20px;*/
/*  width: 100%;*/
/*}*/

/* Content area style */
/*.content {*/
/*  margin-left: 200px; !* Adjust this based on sidebar width *!*/
/*  background-color: #f7f7f7; !* Light grey background *!*/
/*  border-radius: 8px;*/
/*  padding: 30px;*/
/*  flex-grow: 1;*/
/*  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/* Title section */
/*.title {*/
/*  font-size: 24px;*/
/*  font-weight: bold;*/
/*  margin-bottom: 20px;*/
/*}*/

/* Search section */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-label {
  margin-right: 10px;
  font-size: 16px;
}

.search-select {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
}

.search-button:hover {
  background-color: #555;
}

/* Gray box style */
.notice-board {
  background-color: #e0e0e0;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  border-radius: 8px;
}

.text-wrapper{
  /*text-align: right;*/
  /*margin-right: 1370px;*/
  font-size: 40px;

}
.notification-table{
  width: 80%;
  border-collapse: collapse;
  margin: 40px auto; /* 상단에 여백 추가하고 페이지 중앙에 정렬 */
  text-align: center;

}


.notification-table th,
.notification-table td {
  border: 1px solid #333; /* 테두리 선 추가 */}

.notification-table td:nth-child(1) {
  width: 5%; /* 첫 번째 열의 너비 */
}


.notification-table th:nth-child(2),
.notification-table td:nth-child(2) {
  width: 10%; /* 두 번째 열의 너비 */
}

.notification-table th:nth-child(3),
.notification-table td:nth-child(3) {
  width: 50%; /* 세 번째 열의 너비 */
}

.notification-table th:nth-child(4),
.notification-table td:nth-child(4) {
  width: 5%; /* 네 번째 열의 너비 */
}

.notification-table th:nth-child(5),
.notification-table td:nth-child(5) {
  width: 5%; /* 다섯 번째 열의 너비 */
}

.notification-table th:nth-child(6),
.notification-table td:nth-child(6) {
  width: 15%; /* 여섯 번째 열의 너비 */
}
