/* SideBar.module.css */

.sidebar {
    width: 327px;
    height: 155vh;
    position: fixed;
    background: #FFF;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebarNav { }

/* 사이드바 제목 스타일 */
.sidebar h2 {
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
}

/* 카테고리 제목 스타일 */
.sidebarCategory {
    color: #7D7D7D;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 60px;
    margin-left: 40px;
}

.sidebarMenu {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.logoutMenu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logoutIcon {
    width: 20px;
    height: 20px;
    color: #666;
}

/* 버튼 스타일 */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

.sidebar button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    color: #333;
    border-radius: 0.5rem;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s;
}

.sidebar button:hover {
    background-color: #f0f0f0;
}

.icon {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    color: #666;
}